@import "tailwindcss";
@plugin '@tailwindcss/typography';
@theme {
	--color-orange: #ef7c17;
	--color-darkblue: #1c2532;
	--shadow-link: inset 0 -2px 0 0 #ef7c17;
	--shadow-link-hover: inset 0 -1.6em 0 0 #ef7c17;
}

::selection {
	background-color: var(--color-orange);
	color: #fff;
}

body {
	@apply dark:bg-darkblue bg-slate-50 font-sans text-lg text-slate-800 dark:text-gray-200;
}

.layoutwrapper {
	min-height: calc(100vh - 16px);
}

p {
	@apply mb-2;
}

a {
	&:focus-visible {
		outline: 3px solid var(--color-orange);
		border: 0;
	}
}

a.link,
.prose a {
	@apply shadow-link no-underline transition-all duration-150 ease-linear dark:text-gray-200;

	&:hover {
		@apply shadow-link-hover dark:text-darkblue;
	}
}

.not-prose a:not(.link) {
	box-shadow: none;

	&:hover {
		box-shadow: none;
	}
}

/* @tailwindcss/typography custom styles */
.prose {
	@apply text-slate-800 dark:text-gray-200;

	h1,
	h2,
	h3 {
		@apply font-serif;
	}

	strong {
		font-weight: 700;
	}

	blockquote {
		@apply border-l-orange;
	}

	blockquote cite {
		@apply dark:bg-darkblue dark:text-gray-200;
	}

	.footnotes {
		@apply text-base;

		hr {
			@apply border-orange;
		}

		a {
			@apply ml-2 border-0;
		}
	}
}

.blog-list.not-prose {
	h2 {
		@apply mt-0 mb-16 text-2xl md:text-3xl lg:text-4xl xl:text-5xl xl:leading-tight;
	}

	h2 > a {
		@apply shadow-link font-extrabold no-underline transition-all duration-150 ease-linear dark:text-gray-200;
		&:hover {
			@apply shadow-link-hover dark:text-darkblue;
		}
	}
}

/* For Debugging Only */
/* @import "helpers/debugging.css";  */
/* @import "helpers/htmllinting.css"; */
