/* For Debugging Only */
/* @import "helpers/debugging.css";  */
/* @import "helpers/htmllinting.css"; */

@import 'tailwindcss';

@config '../../tailwind.config.js';

@theme {
	--color-orange: #ef7c17;
	--color-darkblue: #1c2532;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

.otl {
	outline: 1px solid red;
}

::selection {
	@apply bg-orange text-white;
}

body {
	@apply font-sans text-lg bg-slate-50 text-slate-800 dark:bg-darkblue dark:text-gray-200;
}

.layoutwrapper {
	min-height: calc(100vh - 16px);
}

p {
	@apply mb-2;
}

a {
	&:focus-visible {
		@apply outline-orange outline-3 outline-solid outline-offset-2;
	}
}

a.link,
.prose a {
	@apply shadow-link no-underline dark:text-gray-200 transition-all duration-150 ease-linear;

	&:hover {
		@apply shadow-linkhover dark:text-darkblue;
	}
}

.not-prose a:not(.link) {
	box-shadow: none;

	&:hover {
		box-shadow: none;
	}
}

/* @tailwindcss/typography custom styles */
.prose {
	@apply text-slate-800 dark:text-gray-200;

	h1,
	h2,
	h3 {
		@apply font-serif;
	}

	strong {
		font-weight: 700;
	}

	blockquote {
		@apply border-l-orange;
	}

	blockquote cite {
		@apply dark:bg-darkblue dark:text-gray-200;
	}

	.footnotes {
		@apply text-base;

		hr {
			@apply border-orange;
		}

		a {
			@apply border-0 ml-2;
		}
	}
}
