/* For Debugging Only */
/* @import "helpers/debugging.css";  */
/* @import "helpers/htmllinting.css"; */


@tailwind base;
@tailwind components;
@tailwind utilities;

.otl {
	outline: 1px solid red;
}

::selection {
	background-color: theme('colors.orange');
	color: #fff;
}

body {
	@apply font-sans text-lg text-gray-800 dark:bg-darkblue dark:text-gray-200;
}

.layoutwrapper {
	min-height: calc(100vh - 16px);
}

p {
	@apply mb-2;
}



/* @tailwindcss/typography custom styles */
.prose {
	h1,
	h2,
	h3 {
		@apply font-serif;
	}

	a {
		text-decoration-color: theme('colors.orange');
	}

	strong {
		font-weight: 700;
	}

	blockquote {
		border-left-color: theme('colors.orange');
	}

	blockquote cite {
		@apply dark:bg-darkblue dark:text-gray-200;
	}

	footnotes {
		@apply text-base;
	}

	footnotes hr {
		border-color: theme('colors.orange');
	}
}



