/* For Debugging Only */
/* @import "helpers/debugging.css";  */
/* @import "helpers/htmllinting.css"; */


@tailwind base;
@tailwind components;
@tailwind utilities;

.otl {
	outline: 1px solid red;
}

::selection {
	background-color: theme('colors.orange');
	color: #fff;
}

body {
	@apply font-sans text-lg text-gray-800 dark:bg-darkblue dark:text-gray-200;
}

p {
	@apply mb-2;
}


.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose p,
.prose strong,
.prose li,
.prose td,
.prose th,
.prose code,
.prose figcaption,
.prose em,
.prose a {
	@apply dark:text-gray-200 !important;
}

.prose h1 {
	@apply dark:text-orange;
}

.prose a {
	text-decoration-color: theme('colors.orange');
}

.prose blockquote {
	border-left-color: theme('colors.orange');
}

.prose blockquote cite {
	@apply dark:bg-darkblue dark:text-gray-200;
}

.prose strong {
	font-weight: 700;
}



.prose .footnotes {
	@apply text-base;
}

.prose .footnotes hr {
	border-color: theme('colors.orange');
}
