/* For Debugging Only */
/* @import "helpers/debugging.css";  */
/* @import "helpers/htmllinting.css"; */


@tailwind base;
@tailwind components;
@tailwind utilities;

.otl {
	outline: 1px solid red;
}

::selection {
	background-color: theme('colors.orange');
	color: #fff;
}

body {
	@apply font-sans text-lg text-gray-800 dark:bg-darkblue dark:text-gray-200;
}

.layoutwrapper {
	min-height: calc(100vh - 16px);
}

a {
	&:focus-visible {
		outline: 3px solid theme('colors.orange');
		border: 0;
	}
}

p {
	@apply mb-2;
}



/* @tailwindcss/typography custom styles */
.prose {
	@apply dark:text-gray-200;

	h1,
	h2,
	h3 {
		@apply font-serif;
	}

	a {
		@apply no-underline dark:text-gray-200 border-b-2 hover:border-b-4 border-orange transition-all;
	}

	strong {
		font-weight: 700;
	}

	blockquote {
		@apply border-l-orange;
	}

	blockquote cite {
		@apply dark:bg-darkblue dark:text-gray-200;
	}

	.footnotes {
		@apply text-base;

		hr {
			@apply border-orange;
		}

		a {
			@apply border-0 ml-2;
		}
	}

}

.not-prose a {
	@apply border-0 hover:border-0;
}



